.bk,
.bk-img,
.bk-img-1,
.bk-img-2 {
  display: block;
  min-height: 100%;
  width: 100%;

  position: fixed;
  background-size: contain;
  background-repeat: no-repeat;
}

.bk-img {
  background-image: url(CT_img.png);
}

.bk-img-1 {
  background-image: url(CT_img2.png);
}

.bk-img-2 {
  background-image: url(CT_img3.png);
}
